terraform {
  backend "s3" {
    bucket         = "CHANGE_ME_TERRAFORM_STATE_BUCKET"
    key            = "environments/CHANGE_ME_ENV/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "terraform-state-locks"
    encrypt        = true
  }
}
